@font-face {
  font-family: "amazonEmberMain";
  src: url(../fonts/AmazonEmber_Bd.ttf);
}

@font-face {
  font-family: "amazonEmberMenu";
  src: url(../fonts/AmazonEmber_He.ttf);
}

body {
  background-color: black;
  border-width: 0%;
  margin: 0%;
  padding: 0%;
  width: 100%;
}

.header {
  width: 100%;
  height: 2%;
  background-color: black;
  margin: 0%;
  padding: 0%;
  border-width: 0%;
}

.navigation {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "amazonEmberMenu";
}

.menu-item {
  text-transform: uppercase;
  padding: 20px;
  font-size: 120%;
  padding-left: 3%;
  padding-right: 3%;
}

.menu-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100px;
}

.menu-link {
  color: #ffffff;
  text-decoration: none;
  outline: none;
  padding-left: 3%;
  padding-right: 3%;
}

.menu-link:hover {
  color: #F84BAB;
}

.link {
  color: #4BDDE4;
  text-decoration: none;
  outline: none;
}

.link:hover {
  color: #F84BAB;
}

.link-active {
  text-decoration: underline;
  color: #F84BAB;
}

.main {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "amazonEmberMain";
}

.news-main {
  margin-bottom: 3vw;
  font-family: "amazonEmberMain";
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skin-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 250px;
}

.skin-category {
  display: inline-block;
  width: 100%;
}

.section {
  overflow: auto;
}

.main-color {
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}




*, *::before, *::after {
box-sizing: border-box;
}

.carousel {
width: 100vw;
height: 100vh;
position: relative;
}

.carousel > ul {
margin: 0;
padding: 0;
list-style: none;
}

.slide {
position: absolute;
inset: 0;
opacity: 0;
transition: 200ms opacity ease-in-out;
transition-delay: 200ms;
text-align: center;
color: white;
}

.slide > img {
display: block;
width: 100%;
height: 100%;
object-fit:cover;
object-position: center;
}

.slide[data-active] {
opacity: 1;
z-index: 1;
transition-delay: 0ms;
}

.carousel-button {
position: absolute;
z-index: 2;
background: none;
border: none;
font-size: 4rem;
top: 50%;
transform: translateY(-50%);
color: rgba(255, 255, 255, .5);
cursor: pointer;
border-radius: .25rem;
padding: 0 .5rem;
background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
color: white;
background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
outline: 1px solid black;
}

.carousel-button.prev {
left: 1rem;
}

.carousel-button.next {
right: 1rem;
}

.emote-video {
  width: 200px;
  height: 200px;
}