@font-face {
  font-family: "amazonEmberMain";
  src: url(../fonts/AmazonEmber_Th.ttf);
}

@font-face {
  font-family: "amazonEmberMenu";
  src: url(../fonts/AmazonEmber_He.ttf);
}

body {
  background-color: black;
  color: #ffffff;
  border-width: 0%;
  margin: 0%;
  padding: 0%;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "amazonEmberMenu";
}

.icon-text{
  margin-left: -3rem;
}

.main{
  width: 100%;
  font-family: 'amazonEmberMain';
}

main .sidebar {
  position: absolute;
  font-size: 1rem;
}

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f8cc16;
}

.material-icons,
.icon-text {
  vertical-align: middle;
}

.material-icons {
  padding-bottom: 3px;
  margin-right: 5rem;
}

#content {
  padding: 3rem;
  transition: margin-left 0.5s;
}

.h2title{
  color: #f8cc16;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}